<!DOCTYPE html>
<html lang="ZH-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resister</title>
</head>
<body>
<form action="/user/resister" method="post">
    用户名：<input type="text" name="username"><br>
    密码：<input type="password" name="password"><br>
    email：<input type="email" name="email"><br>
    性别：<select name="sex">
    <option value="男">男</option>
    <option value="女">女</option>
        </select>
    <input type="text" name="tel">
    <input type="submit" value="注册">
</form>
</body>
</html>